ref_data
*.o
*.dat
*.log
__pycache__

# TPC-H generated artifacts
TPC-H/data/
TPC-H/logs/
TPC-H/queries/
TPC-H/dbgen/*.tbl
TPC-H/dbgen/dbgen
TPC-H/dbgen/qgen
TPC-H/duckdb/*.duckdb

# TPC-DS generated artifacts
TPC-DS/data/
TPC-DS/queries/
TPC-DS/logs/
TPC-DS/duckdb/work/
TPC-DS/cedardb/work/
TPC-DS/starrocks/work/
TPC-DS/starrocks/__pycache__/
TPC-DS/tools/*.idx
TPC-DS/tools/*.idx.h
TPC-DS/tools/y.tab.c
TPC-DS/tools/y.tab.h
TPC-DS/tools/tokenizer.c
TPC-DS/tools/y.output
TPC-DS/tools/.ctags_updated
TPC-DS/tools/.depend_updated
TPC-DS/tools/columns.h
TPC-DS/tools/streams.h
TPC-DS/tools/tables.h
TPC-DS/tools/dsdgen
TPC-DS/tools/dsqgen
TPC-DS/tools/distcomp
TPC-DS/tools/mkheader
TPC-DS/tools/checksum
TPC-DS/tools/tags